{% extends '::backend.html.twig' %}

{% block id 'tienda' %}
{% block title %}Modificar la tienda {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form_start(edit_form, { 'action': path('backend_tienda_update', { 'id': entity.id }) }) }}
    {{ form_widget(edit_form) }}
    <p>
        <button class="boton" type="submit">Guardar cambios</button>
    </p>
{{ form_end(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_tienda') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('backend_tienda_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar tienda</button>
        </form>
    </li>
</ul>
{% endblock %}
