{% extends '::backend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Modificar el usuario {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form(edit_form, { 'action': path('backend_usuario_update', { 'id': entity.id }) }) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_usuario') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('backend_usuario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar usuario</button>
        </form>
    </li>
</ul>
{% endblock %}
