{% set expirada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}
{% set comprada = comprada|default(false) %}

<section class="oferta mini">
    <div class="descripcion">
        <h2><a href="{{ path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">{{ oferta.nombre }}</a></h2>

        {{ oferta.descripcion | mostrar_como_lista }}

        {% if not expirada and not comprada %}
        <a class="boton" href="{{ path('comprar', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">{{ "Comprar" | trans }}</a>
        {% endif %}

        <div class="estado {{ expirada ? 'expirada' : '' }} {{ comprada ? 'comprada' : '' }}">
            {% if comprada %}
                {% trans with { '%fecha%': fechaCompra|fecha('long', 'medium') } %}
                Comprada el %fecha%
                {% endtrans %}
            {% elseif not expirada %}
                {% trans with {'%tiempo%': oferta.fechaExpiracion | cuenta_atras } %}
                <strong>Faltan</strong>: %tiempo%
                {% endtrans %}
            {% else %}
                {% trans with { '%fecha%': oferta.fechaExpiracion|fecha('long') } %}
                Finalizada el %fecha%
                {% endtrans %}
            {% endif %}
        </div>
    </div>

    <div class="galeria">
        <img alt="Fotografía de la oferta" src="{{ asset(directorio_imagenes ~ oferta.rutaFoto) }}">

        <p class="precio">{{ oferta.precio }} &euro; <span>{{ descuento(oferta.precio, oferta.descuento) }}</span></p>

        <p>{{ "Disfruta de la oferta en" | trans }} <a href="{{ path('tienda_portada', { 'ciudad': oferta.ciudad.slug, 'tienda' : oferta.tienda.slug }) }}">{{ oferta.tienda.nombre }}</a></p>
    </div>
</section>
