{% extends '::extranet.html.twig' %}

{% block id 'oferta' %}
{% block title %}{{ accion == 'crear' ?
    'Añadir una nueva oferta'
    :
    'Modificar la oferta ' ~ oferta.nombre
}}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form_start(formulario) }}
<div>
    {{ form_errors(formulario) }}

    <div>
        {{ form_label(formulario.nombre) }}
        {{ form_errors(formulario.nombre) }}
        {{ form_widget(formulario.nombre, { 'attr': { 'class': 'largo' } }) }}
    </div>

    <div>
        {{ form_label(formulario.descripcion, 'Descripción') }}
        {{ form_errors(formulario.descripcion) }}
        {{ form_widget(formulario.descripcion) }}

        <p class="ayuda">Escribe cada característica en una línea.</p>
    </div>

    <div>
        {{ form_label(formulario.condiciones, 'Condiciones') }}
        {{ form_errors(formulario.condiciones) }}
        {{ form_widget(formulario.condiciones, { 'attr': { 'class': 'mediana' } }) }}

        <p class="ayuda">Ejemplos: máximo 1 consumición por persona; No acumulable a otras ofertas; Debe consumirse en el propio local; etc.</p>
    </div>

    <div>
        {{ form_label(formulario.foto, 'Fotografía') }}
        {{ form_errors(formulario.foto) }}

        {% if accion == 'editar' %}
        <img src="{{ asset(directorio_imagenes ~ oferta.rutaFoto) }}" />
        <p class="ayuda">(No se muestra a tamaño real)</p>

        {{ form_label(formulario.foto, 'Modificar foto') }}
        {% endif %}

        {{ form_widget(formulario.foto) }}

        <p class="ayuda">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
    </div>

    <div>
        {{ form_label(formulario.precio) }}
        {{ form_errors(formulario.precio) }}
        {{ form_widget(formulario.precio, { 'attr': { 'class': 'corto' } }) }}

        <p class="ayuda">Precio final de venta a los usuarios (en euros).</p>
    </div>

    <div>
        {{ form_label(formulario.descuento) }}
        {{ form_errors(formulario.descuento) }}
        {{ form_widget(formulario.descuento, { 'attr': { 'class': 'corto' } }) }}

        <p class="ayuda">Descuento aplicado sobre el precio original (en euros). Si el precio original era 10 euros y el precio de venta en Cupon es de 8 euros, el descuento son 2 euros.</p>
    </div>

    <div>
        {{ form_label(formulario.umbral, 'Compras necesarias') }}
        {{ form_errors(formulario.umbral) }}
        {{ form_widget(formulario.umbral, { 'attr': { 'class': 'corto' } }) }}

        <p class="ayuda">Mínimo número de compras para que la oferta se active para todos los usuarios.</p>
    </div>

    {% if accion == 'crear' %}
    <div>
        {{ form_errors(formulario.acepto) }}
        {{ form_widget(formulario.acepto) }} <span>Declaro que toda la información de esta oferta es correcta, que soy consciente de la obligación de cumplir las condiciones prometidas y que dispongo de los medios necesarios para hacerlo.</span>
    </div>
    {% endif %}
</div>
{{ form_end(formulario) }}
{% endblock %}

{% block aside %}
<section id="faq">
    <h2>Preguntas frecuentes</h2>

    <dl>
        <dt>¿Lorem ipsum dolor sit amet?</dt>
        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
        <dt>¿Ut enim ad minim veniam?</dt>
        <dd>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
        <dt>¿Excepteur sint occaecat cupidatat non proident?</dt>
        <dd>Sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
    </dl>
</section>
{% endblock %}
