{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets '@OfertaBundle/Resources/public/css/normalizar.css'
               '@OfertaBundle/Resources/public/css/comun.css'
               '@BackendBundle/Resources/public/css/backend.css'
               output='css/backend.css' %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts '@OfertaBundle/Resources/public/js/lt_ie9/*' output='js/lt_ie9.js' %}
<!--[if lt IE 9]>
    <script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}  
{% endblock %}

{% block body %}
<header>
    <h1><a href="{{ path('backend_portada') }}">CUPON ADMIN</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('backend_oferta') }}">Ofertas</a></li>
            <li><a href="{{ path('backend_tienda') }}">Tiendas</a></li>
            <li><a href="{{ path('backend_usuario') }}">Usuarios</a></li>
            <li><a href="{{ path('backend_ciudad') }}">Ciudades</a></li>
            <li>{{ render(controller('CiudadBundle:Default:listaCiudades', { 'ciudad': app.session.get('ciudad') })) }}</li>
        </ul>
    </nav>
</header>

{% include ':includes:flashes.html.twig' %}

<article>
    {% block article %}{% endblock %}
</article>
{% endblock %}