<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cupon</title>
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
    {% block javascripts %}{% endblock %}
</head>

<body id="{% block id '' %}"><div id="contenedor">
    {% block body %}{% endblock %}
    
    <footer>
        &copy; {{ 'now'|date('Y') }} - Cupon
        <a href="{{ path('ayuda') }}">{{ "Ayuda" | trans }}</a>
        <a href="{{ path('contacto') }}">{{ "Contacto" | trans }}</a>
        <a href="{{ path('privacidad') }}">{{ "Privacidad" | trans }}</a>
        <a href="{{ path('sobre_nosotros') }}">{{ "Sobre nosotros" | trans }}</a>
        
        {% set locale = app.request.locale %}
        <section id="idioma">
        {% if locale == 'es' %}
            <span>Español</span> - <a href="{{ path('portada', { '_locale': 'en' }) }}">English</a>
        {% elseif locale == 'en' %}
            <a href="{{ path('portada', { '_locale': 'es' }) }}">Español</a> - <span>English</span>
        {% endif %}
        </section>
    </footer>
</div></body>

</html>