{% extends 'base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto) %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/frontend.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/frontend.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('portada', { ciudad: ciudadSeleccionada }) }}">CUPON</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada', { ciudad: ciudadSeleccionada }) }}">{{ 'Oferta del día'|trans }}</a></li>
                <li><a href="{{ path('ciudad_recientes', { ciudad: ciudadSeleccionada }) }}">{{ 'Ofertas recientes'|trans }}</a></li>
                <li><a href="{{ path('usuario_compras') }}">{{ 'Mis ofertas'|trans }}</a></li>
                <li>{{ render(controller('AppBundle:Ciudad:listaCiudades', { ciudad: ciudadSeleccionada })) }}</li>
            </ul>
        </nav>
    </header>

    {% block anuncio %}{% endblock %}

    <article class="{{ block('id') in ['portada', 'oferta'] ? 'oferta' }}">
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}
            {% block registrate %}
                <a id="registrate" class="boton" href="{{ path('usuario_registro') }}">{{ 'Regístrate'|trans }}</a>
            {% endblock %}

            <section id="login">
                {{ render_esi(controller('AppBundle:Usuario:cajaLogin')) }}
            </section>
        {% endblock %}
    </aside>
{% endblock %}
