{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.get('ciudad', ciudad_por_defecto) %}

{% block stylesheets %}
{% stylesheets '@OfertaBundle/Resources/public/css/normalizar.css'
               '@OfertaBundle/Resources/public/css/comun.css'
               '@OfertaBundle/Resources/public/css/frontend.css'
               output='css/frontend.css' %}
<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts '@OfertaBundle/Resources/public/js/lt_ie9/*' output='js/lt_ie9.js' %}
<!--[if lt IE 9]>
    <script src="{{ asset_url }}"></script>
<![endif]-->
{% endjavascripts %}  
{% javascripts '@OfertaBundle/Resources/public/js/frontend/*' output='js/frontend.js' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}
<header>
    <h1><a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">CUPON</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">{{ "Oferta del día" | trans }}</a></li>
            <li><a href="{{ path('ciudad_recientes', { 'ciudad': ciudadSeleccionada }) }}">{{ "Ofertas recientes" | trans }}</a></li>
            <li><a href="{{ path('usuario_compras') }}">{{ "Mis ofertas" | trans }}</a></li>
            <li>{{ render(controller('CiudadBundle:Default:listaCiudades', { 'ciudad': ciudadSeleccionada })) }}</li>
        </ul>
    </nav>
</header>

{% block anuncio %}{% endblock %}

<article {{ block('id') in ['portada', 'oferta'] ? ' class="oferta"' : '' }}>
    {% block article %}{% endblock %}
</article>

<aside>
    {% block aside %}
    <section id="login">
        {{ render_esi(controller('UsuarioBundle:Default:cajaLogin', { 'id': block('id') })) }}
    </section>
    {% endblock %}
</aside>
{% endblock %}