{% if is_granted('ROLE_USUARIO') %} {# el usuario está logueado #}

    {% include ':includes:flashes.html.twig' %}

    <p>Conectado como <strong>{{ usuario.nombre ~ ' ' ~ usuario.apellidos }}</strong></p>
	{# si has definido un método __toString() en la entidad del usuario, puedes
	   reemplazar lo anterior por: <p>Conectado como <strong>{{ app.user }}</strong></p> #}

    <a href="{{ path('usuario_perfil') }}">{{ "Ver mi perfil" | trans }}</a>
    <a href="{{ path('usuario_logout') }}">{{ "Cerrar sesión" | trans }}</a>

{% else %} {# el usuario todavía no ha hecho login #}

    {% if id != 'portada' %}
        <a class="boton" href="{{ path('usuario_registro') }}">{{ "Regístrate" | trans }}</a>
    {% endif %}

    <h2>{{ "Accede a tu cuenta" | trans }}</h2>

    <form action="{{ path('usuario_login_check') }}" method="post">
        <label for="login_user">{{ "Email" | trans }}</label>
        <input id="login_user" type="text" name="_username" value="{{ last_username | default('') }}" />

        <label for="login_pass">{{ "Contraseña" | trans }}</label>
        <input id="login_pass" type="password" name="_password" />

        <input type="submit" value="{{ "Entrar" | trans }}" />

        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">{{ "No cerrar sesión" | trans }}</label>
    </form>

{% endif %}
