{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Ver / Modificar mis datos{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form_start(formulario) }}
<div>
    <div class="errors">
        {{ form_errors(formulario) }}
    </div>

    <div>
        {{ form_row(formulario.nombre) }}
    </div>

    <div>
        {{ form_label(formulario.apellidos) }}
        {{ form_errors(formulario.apellidos) }}
        {{ form_widget(formulario.apellidos, { 'attr': { 'class': 'largo' } }) }}
    </div>

    <div>
        {{ form_label(formulario.email) }}
        {{ form_errors(formulario.email) }}
        {{ form_widget(formulario.email, { 'attr': { 'class': 'largo' } }) }}
    </div>

    <div>
        {{ form_widget(formulario.password) }}

        <p class="ayuda">Si quieres cambiar la contraseña, escríbela dos veces. Si no quieres cambiarla, deja su valor vacío.</p>
    </div>

    <div>
        {{ form_label(formulario.direccion, 'Dirección postal') }}
        {{ form_errors(formulario.direccion) }}
        {{ form_widget(formulario.direccion, { 'attr': { 'class': 'mediana' } }) }}
    </div>

    <div>
        {{ form_label(formulario.fecha_nacimiento, 'Fecha de nacimiento') }}
        {{ form_errors(formulario.fecha_nacimiento) }}
        {{ form_widget(formulario.fecha_nacimiento) }}
    </div>

    <div>
        {{ form_label(formulario.dni, 'DNI') }}
        {{ form_errors(formulario.dni) }}
        {{ form_widget(formulario.dni, { 'attr': { 'class': 'corto' } }) }}

        <p class="ayuda">Escribe las 8 cifras y la letra sin dejar ningún espacio en blanco</p>
    </div>

    <div>
        {{ form_label(formulario.numero_tarjeta, 'Número de tarjeta de crédito') }}
        {{ form_errors(formulario.numero_tarjeta) }}
        {{ form_widget(formulario.numero_tarjeta) }}
    </div>

    <div>
        {{ form_row(formulario.ciudad) }}

        <p class="ayuda">Aunque puedes comprar cualquier oferta de cualquier ciudad, la ciudad seleccionada será tu opción preferente.</p>
    </div>

    <div>
        {{ form_errors(formulario.permite_email) }}
        {{ form_widget(formulario.permite_email) }}
        <span>Me gustaría recibir el boletín de ofertas de Cupon</span>
    </div>

    {{ form_widget(formulario.guardar) }}
</div>
{{ form_end(formulario) }}
{% endblock %}
