{% extends 'frontend.html.twig' %}

{% block title 'Últimas ofertas que has comprado' %}
{% block id 'compras' %}

{% block article %}
    <h1>{{ block('title') }}</h1>

    {% for compra in compras %}
        {{ include('oferta/includes/minioferta.html.twig', {
            'oferta': compra.oferta,
            'comprada': true,
            'fechaCompra': compra.fecha
        }) %}
    {% endfor %}
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="cercanas">
        <h2>Ofertas en otras ciudades</h2>
        <ul>
            {% for ciudad in cercanas %}
                <li><a href="{{ path('ciudad_cambiar', { ciudad: ciudad.slug }) }}">{{ ciudad.nombre }}</a></li>
            {% endfor %}
        </ul>
    </section>

    {{ include('includes/_sobre_nosotros.html.twig') }}
{% endblock %}
