{% extends '::frontend.html.twig' %}

{% block title %}Entra en tu cuenta o date de alta{% endblock %}
{% block id 'login' %}

{% block article %}
<section id="entrar">
    <h1>{{ "Accede a tu cuenta" | trans }}</h1>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('usuario_login_check') }}" method="post">
        <label for="username">{{ "Email" | trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ "Contraseña" | trans }}</label>
        <input type="password" id="password" name="_password" />

        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">{{ "No cerrar sesión" | trans }}</label>

        <input class="boton" type="submit" name="login" value="{{ "Entrar" | trans }}" />
    </form>
</section>

<section id="registrar">
    <a class="boton" href="{{ path('usuario_registro') }}">{{ "Regístrate gratis como usuario" | trans }}</a>
</section>
{% endblock %}

{% block aside %}
{% endblock %}
