{% extends '::backend.html.twig' %}

{% block id 'ciudad' %}
{% block title %}Modificar la ciudad {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form(edit_form, { 'action': path('backend_ciudad_update', { 'id': entity.id }) }) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_ciudad') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('backend_ciudad_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar ciudad</button>
        </form>
    </li>
</ul>
{% endblock %}
