{% for oferta in ofertas %}
<item>
    <title>{{ oferta.nombre }}</title>
    <link>{{ url('oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}</link>
    <description><![CDATA[
        {% set urlAbsolutaFoto = 'http://'
                                 ~ app.request.server.get('SERVER_NAME')
                                 ~ asset(directorio_imagenes ~ oferta.rutaFoto) %}
        <img alt="Fotografía de la oferta" src="{{ urlAbsolutaFoto }}">
        <br/>
        {{ oferta.descripcion | mostrar_como_lista }}
        <br/>
        <strong><a href="{{ url('comprar', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">Comprar</a></strong>
        <br/>
        <p>Ver otras ofertas de la tienda <a href="{{ url('tienda_portada', { 'ciudad': oferta.ciudad.slug, 'tienda' : oferta.tienda.slug }) }}">{{ oferta.tienda.nombre }}</a></p>
    ]]></description>
    <pubDate>{{ oferta.fechaPublicacion | date('r') }}</pubDate>
    <guid>{{ url('oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}</guid>
</item>
{% endfor %}