<ul class="paginador">
    {% if paginador.currentPage > 1 %}
        <li><a href="{{ path(ruta, {'page': paginador.previousPage}) }}">Anterior</a></li>
    {% else %}
        <li>Anterior</li>
    {% endif %}
    
    {% for page in paginador.minPageInRange..paginador.maxPageInRange %}
        {% if page == paginador.currentPage %}
            <li class="actual">{{ page }}</li>
        {% else %}
            <li><a href="{{ path(ruta, {'page': page}) }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if paginador.currentPage < paginador.lastPage %}
        <li><a href="{{ path(ruta, {'page': paginador.nextPage}) }}">Siguiente</a></li>
    {% else %}
        <li>Siguiente</li>
    {% endif %}
</ul>