{% extends '::frontend.html.twig' %}

{% block title %}Contacto{% endblock %}
{% block id 'pagina' %}

{% block article %}
    <h1>Contacto</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    {{ form_start(formulario) }}
        {{ form_errors(formulario) }}

        <div>
            {{ form_label(formulario.remitente, 'Tu dirección de email') }}
            {{ form_errors(formulario.remitente) }}
            {{ form_widget(formulario.remitente) }}
        </div>

        {{ form_row(formulario.mensaje) }}

        <input type="submit" value="Enviar mensaje" />
    {{ form_end(formulario) }}
{% endblock %}
