{% extends '::backend.html.twig' %}

{% block id 'oferta' %}
{% block title %}Modificar la oferta {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

{{ form_start(edit_form, { 'action': path('backend_oferta_update', { 'id': entity.id }) }) }}
    <div>
        {{ form_label(edit_form.foto, 'Fotografía') }}
        {{ form_errors(edit_form.foto) }}

        <img src="{{  asset(directorio_imagenes ~ entity.rutaFoto) }}" />
        <p class="ayuda">(No se muestra a tamaño real)</p>

        {{ form_label(edit_form.foto, 'Modificar foto') }}
        {{ form_widget(edit_form.foto) }}

        <p class="ayuda">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
    </div>
{{ form_end(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_oferta') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <form action="{{ path('backend_oferta_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar oferta</button>
        </form>
    </li>
</ul>
{% endblock %}
