{% extends '::backend.html.twig' %}

{% block id 'oferta' %}
{% block title %}Listado de ofertas{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Revisada</th>
            <th>Se publica</th>
            <th>Caduca</th>
            <th>Nombre</th>
            <th>Tienda</th>
            <th>Compras</th>
            <th>Umbral</th>
            <th>Facturación (&euro;)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.revisada ? '<span class="si">&#10004;</span>' : '<span class="no">&#10008;</span>' }}</td>
            <td>{{ entity.fechapublicacion|fecha('short') }}</td>
            <td>{{ entity.fechaexpiracion|fecha('short') }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.tienda }}</td>
            <td>{{ entity.compras }}</td>
            <td>{{ entity.umbral }}</td>
            <td>{{ entity.precio * entity.compras }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_oferta_show', { 'id': entity.id }) }}">Detalles</a>
                    </li>
                    <li>
                        <a href="{{ path('backend_oferta_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'BackendBundle:Default:paginador.html.twig' with { 'ruta': 'backend_portada' } only %}

<ul>
    <li>
        <a class="boton" href="{{ path('backend_oferta_new') }}">
            Añadir una nueva oferta
        </a>
    </li>
</ul>
{% endblock %}
