{% extends '::backend.html.twig' %}

{% block id 'oferta' %}
{% block title %}Datos de la oferta {{ entity }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Condiciones</th>
            <td>{{ entity.condiciones }}</td>
        </tr>
        <tr>
            <th>Foto</th>
            <td><img src="{{ asset(directorio_imagenes ~ entity.rutaFoto) }}" /></td>
        </tr>
        <tr>
            <th>Precio</th>
            <td>{{ entity.precio }} &euro;</td>
        </tr>
        <tr>
            <th>Descuento</th>
            <td>{{ entity.descuento }} &euro;</td>
        </tr>
        <tr>
            <th>Fecha publicación</th>
            <td>{{ entity.fechapublicacion|fecha('long', 'medium') }}</td>
        </tr>
        <tr>
            <th>Fecha expiración</th>
            <td>{{ entity.fechaexpiracion|fecha('long', 'medium') }}</td>
        </tr>
        <tr>
            <th>Compras</th>
        <td>{{ entity.compras }}</td>
        </tr>
        <tr>
            <th>Compras necesarias</th>
            <td>{{ entity.umbral }}</td>
        </tr>
        <tr>
            <th>Revisada</th>
            <td>{{ entity.revisada ? 'si' : 'no' }}</td>
        </tr>
        <tr>
            <th>Ciudad</th>
            <td>{{ entity.ciudad }}</td>
        </tr>
        <tr>
            <th>Tienda</th>
            <td>{{ entity.tienda }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_oferta') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('backend_oferta_edit', { 'id': entity.id }) }}">
            Modificar oferta
        </a>
    </li>
    <li>
        <form action="{{ path('backend_oferta_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar oferta</button>
        </form>
    </li>
</ul>
{% endblock %}
